package main

import (
	"context"
	"os"
	"os/signal"
	"time"

	"github.com/labstack/echo/v4"
)

type option func(*echo.Echo)

var ops []option

func initRouter() {
	e := echo.New()
	e.HideBanner = true
	e.GET("/", func(c echo.Context) error {
		return c.String(200, "Hello, World!")
	}).Name = "root"
	for _, o := range ops {
		o(e)
	}
	for _, v := range e.Routes() {
		logger.Info().Str(v.Name, v.Path).Msg("")
	}
	go func() {
		if err := e.Start(conf.Port); err != nil {
			logger.Error().Msg("start server error:" + err.Error())
			logger.Fatal().Msg("shutting down the server")
		}
	}()
	quit := make(chan os.Signal)
	signal.Notify(quit, os.Interrupt)
	<-quit
	ctx, cancel := context.WithTimeout(context.Background(), 10*time.Second)
	defer cancel()
	if err := e.Shutdown(ctx); err != nil {
		logger.Error().Msg("shutting down the server error:" + err.Error())
		logger.Fatal().Msg("shutting down the server")
	}
}
