package main

type {{.Name}} struct {
	Id int64 `xorm:"id"`
}

func ({{.ShortName}}  *{{.Name}}) create() error {
	_, err := connectionDB.Insert({{.ShortName}})
	return err
}

func ({{.ShortName}} *{{.Name}}) update() error {
	_, err := connectionDB.Id({{.ShortName}}.Id).Update({{.ShortName}})
	return err
}

func ({{.ShortName}} *{{.Name}}) get() error {
	_, err := connectionDB.Id({{.ShortName}}.Id).Get({{.ShortName}})
	return err
}

func ({{.ShortName}} *{{.Name}}) gets(limit, page int) (interface{}, int64) {
	{{.ShortName}}s, count := []{{.Name}}{}, int64(0)
	connectionDB.Where("").Find(&{{.ShortName}}s)
	count, _ = connectionDB.Where("").Count({{.ShortName}})
	return us, count
}

func ({{.ShortName}} *{{.Name}}) delete() error {
	_, err := connectionDB.Id({{.ShortName}}.Id).Delete({{.ShortName}})
	return err
}
