#运行模式
[Runmode]
Runmode="pro"
#production
[pro]
#redis配置
Redis=false
RedisHost="192.168.0.104"
RedisPort="6379"
RedisPassword=""
RedisDB=0
#DB配置
DB=true
DBHost="192.168.0.104"
DBPort="3307"
DBUsername="root"
DBPassword="root123456"
DBName="test"
DBDebug=false
DBMaxIdleConns=99
DBMaxOpenConns=999
#端口号
Port=":8080"
#develop
[dev]
#redis配置
Redis=false
RedisHost="192.168.0.104"
RedisPort="6379"
RedisPassword=""
RedisDB=0
#DB配置
DB=false
DBHost="192.168.0.104"
DBPort="3306"
DBUsername="root"
DBPassword="root123456"
DBName="test"
DBDebug=true
DBMaxIdleConns=99
DBMaxOpenConns=999
#端口号
Port=":8080"
